<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.372" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.9" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>